
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<WebsiteBanHang.Context.Product>

<div class="col-xl-6 col-lg-5 col-md-6">
    <form action="@Url.Action("Search", "Search")" class="search-header" method="post">
        <div class="input-group w-100">
            <select class="custom-select border-right" name="category_name">
                <option value="">All type</option>
                <option value="codex">Special</option>
                <option value="comments">Only best</option>
                <option value="content">Latest</option>
            </select>
            <input type="text" class="form-control" name="keyword" placeholder="Search">

            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
